  %image-replacement {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  @function multiplica-fonte($multiplicador) {
    @return round($multiplicador * $tamanho-da-fonte-padrao);
  }

  /////////////////////////////////////////

  @import "compass/css3";
  @import "compass/utilities";