  @mixin borda-arredondada($raio: 0.3em) {
    -webkit-border-radius: $raio;
    -moz-border-radius: $raio;
    -o-border-radius: $raio;
    -ms-border-radius: $raio;
    border-radius: $raio;
  }
  
  %image-replacement {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
  }

  /////////////////////////////////////////

  @import "compass/css3";